<div class="mob-menu">
  <a href="/" class="mob-menu__logo-link">
    <img width="48" height="67" src="/img/header/logo.svg" alt="Image logo" />
  </a>
  <ul class="mob-menu__list-top">
    {{#each navLinks}}
      <li class="mob-menu__item">
        <a href="{{link href}}" class="header__nav-item-link">
          {{text}}
        </a>
      </li>
    {{/each}}
  </ul>
  <hr class="mob-menu__line-top" />
  <ul class="mob-menu__list">
    {{#each topLinks}}
      <li class="mob-menu__item">
        <a href="{{link href}}" class="header__top-bar-link">
          {{text}}
        </a>
      </li>
    {{/each}}
  </ul>

  <ul class="mob-menu__list-bottom">
    <li>
      <a href="tel:{{phone.raw}}" class="header__top-bar-contact-link">
        <svg width="16" height="16">
          <use href="/img/sprite.svg#icon-phone"></use>
        </svg>
        {{phone.display}}
      </a>
    </li>
    <li>
      <a href="mailto:{{email}}" class="header__top-bar-contact-link">
        <svg width="16" height="16">
          <use href="/img/sprite.svg#icon-mail"></use>
        </svg>
        {{email}}
      </a>
    </li>
  </ul>
  <hr class="mob-menu__line" />
  <div class="mob-menu__user">
    <a href="" class="header__top-bar-profile-link">
      <img width="24" height="24" src="/img/header/language.svg" alt="" />
    </a>
    <p>Eesti</p>
  </div>
</div>